*,
after,
before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-header-button: rgb(14, 15, 56);
  --clr-primary-navbar: #22258a;
  --clr-primary-paragraph: #3d3e56;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --fontSize-button: 2rem;
  --fontSize_link: 1.8rem;
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Flow Circular", sans-serif;

  font-size: 1.6rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  color: var(--clr-primary-header-button);
  text-transform: capitalize;
  margin-bottom: 1.2rem;
  font-weight: lighter;
  font-style: normal;
  letter-spacing: 0.2rem;
  opacity: 0.7;
}
.banner {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 5rem;
}

.banner > h2 {
  text-align: center;
  color: white;
}
p {
  margin-bottom: 2rem;
  color: var(--clr-primary-paragraph);
  font-family: "Cormorant";
  font-weight: 100;
  letter-spacing: normal;
  word-spacing: 0.5rem;
  opacity: 0.8;
}

/* ------navbar */

.navlink {
  display: block;

  text-decoration: none;
  font-size: var(--fontSize-button);
  text-transform: capitalize;
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: lighter;
  padding: 1rem;
  font-size: 1.5rem;
}
.navlink:hover {
  text-decoration: underline;
  transform: translateX(0.5rem);
  transition: all 0.5s linear;
}

.nav-center {
  width: 100%;
  padding: 0.8rem;
  z-index: 999;
  position: absolute;
}
.headerimages {
  display: flex;
  height: 100vh;
}
.headerimages1 {
  display: flex;
  height: 100vh;
  background-image: url("/src/images/rooms/standard single room/img1.jpg");
  background-position: center;
  background-size: cover;
}
.book {
  margin-top: -1rem;
}
.logospan {
  margin-left: -1rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: white;
}

hr {
  color: white;
  height: 0.5px;
  margin: 0 1rem;
}
.nav-btn {
  font-size: var(--fontSize-button);
  padding: 0.9rem 3.5rem;
  border-color: transparent;
  background-color: var(--clr-primary-navbar);
  color: white;
  border-radius: 0.5rem;
  margin-right: auto;
}
.nav-btn:hover {
  cursor: pointer;
  scale: 1.1;
  opacity: 0.7;
  transition: all 0.6s linear;
}
.link-btn {
  font-size: var(--fontSize-button);
  padding: 0.9rem 3.5rem;
  border-color: transparent;
  background-color: var(--clr-primary-navbar);
  color: white;
  text-decoration: none;
  border-radius: 0.8rem;
  margin-right: auto;
}
.link-btn:hover {
  opacity: 0.7;
  transform: translateX(0.5rem);
  cursor: pointer;
  transition: all 0.5s linear;
}

.links {
  width: 100%;
  height: auto;
}
.logo {
  width: 4rem;
  height: 4rem;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img:hover {
  opacity: 0.7;
  scale: 1.1;
  transition: all 0.5s linear;
}

.nav-header {
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 0.8rem;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  text-align: center;
  box-shadow: 0.2rem 0.2rem 2rem rgb(14, 15, 56);
}
.footerdiv {
  display: flex;
  flex-direction: column;
}
.footerlink {
  text-decoration: none;
  margin: 0.7rem 0;
}
.footerReserved {
  text-decoration: none;
  margin: 0.7rem 0;
  margin-bottom: 0;
}
.footerlink:hover {
  text-decoration: underline;
  transform: translateX(0.4rem);
  opacity: 0.7;
  transition: all 0.5s linear;
}

a {
  text-decoration: none;
}
.footerlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.footerspan {
  margin-left: -1rem;

  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  color: var(--clr-primary-navbar);
}
.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.searchcontainer {
  margin: 5rem 1rem;
  padding: 1rem;
}
.searchElements {
  padding: 3rem 1rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  box-shadow: 0.2rem 0.2rem 2rem rgb(14, 15, 56);
  background-color: #e3e4ff;
}
.searchElement label {
  display: block;
}
.elementCheck label {
  display: inline-block;
  margin-left: 1rem;
}

.formSelect {
  width: 100%;
}
.inputSize {
  display: flex;
}
.formSize {
  width: 45%;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid;
}
.roomslist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.room {
  position: relative;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 3rem inset rgb(14, 15, 56);
  border-radius: 0.6rem;
}
.room h4 {
  margin-bottom: 0.5rem;
}
.room img {
  width: 100%;
  height: 75%;

  object-fit: cover;
}
.room-btn {
  font-size: 1.5rem;
  border-color: transparent;
  background-color: var(--clr-primary-navbar);
  color: white;
  padding: 0.3rem 0.8rem;
  margin-top: -0.5rem;
  border-radius: 0.7rem;
}
.priceDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s linear;
}
.roomdiv {
  overflow: hidden;
}
.inputSize {
  display: flex;
}
.roomIcons {
  width: 40%;
  display: block;
  align-items: center;
  margin: auto 0;
}
.roomIcons > .icon {
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}
.icon > p {
  margin: auto 1rem;
}
.icon > button {
  background-color: transparent;
  border-color: transparent;
  font-size: 2rem;
}
.wellness {
  display: flex;
  flex-direction: column;
  margin: 15rem 1rem;
}
.iconsDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 0.2rem;
}

.iconDetail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconDetail > p {
  color: white;
  font-size: 1.7rem;
  text-align: center;
}
.iconDetail > .icon {
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 3rem;
}
.spa {
  margin: 1rem;
  padding: 1rem;
}
.galleryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.galleryImage {
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1rem;
}
.galleryButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
.galleryButton {
  color: #22258a;
  background: #d0d0ff;
  border-color: transparent;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
}
.selected {
  color: #d0d0ff;
  background: #22258a;
}
.galleryButton:hover {
  opacity: 0.5;
  scale: 1.1;
  transition: all 0.7s linear;
  cursor: pointer;
}
.map {
  width: 90%;
  border-radius: 3rem;
}
.testimonials {
  margin: 6rem 1rem;
}
.testimonials > h2 {
  text-align: center;
}
.testimonialDiv {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.testimonialImg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.testimonialName > p {
  margin: 0;
  font-size: 1rem;
}
.testimonialName > p {
  font-size: 2rem;
}
.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rating > p {
  margin: 0;
  font-size: 1rem;
}
.rating > p {
  font-size: 2rem;
}
.star {
  color: var(--clr-primary-navbar);
  width: auto;
  height: auto;
}
.privacy {
  margin: 5rem 1rem;
  padding: 1rem;
}
.privacy > h2 {
  text-align: center;
}
.success {
  margin: 5rem;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 2rem rgb(14, 15, 56);
}
.success > h1 {
  margin: 2rem auto;
}
.success-btn {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 5rem;
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
}
.success-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.errorDiv {
  margin: 1rem;
  padding: 1rem;
}

/* -----home page */

@media screen and (min-width: 336px) {
  .nav-toggle {
    background-color: transparent;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    border-color: transparent;
    color: var(--clr-primary-navbar);
    cursor: pointer;
  }

  .linksShow {
    height: 10rem;
  }

  .book {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    height: auto;
    align-items: center;
  }
  .nav-toggle {
    align-items: center;
  }
  .links {
    height: 0;
    overflow: hidden;
  }

  .show-nav {
    height: auto;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  a {
    font-size: 1.8rem;
  }
  .footerlink {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .footerReserved {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .section {
    display: flex;
    flex-direction: column;

    gap: 4rem;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 80rem;
  }
  .p {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* gap: 2rem; */
    height: auto;
  }
  .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .map {
    min-height: 25rem;
  }

  .roomSlider {
    padding: 2rem;
    margin-top: 2rem;
    margin: 8rem 0;
  }
  .roomSlider h2 {
    text-align: center;
  }
  .footer {
    margin: 2rem 0;
  }

  .footerlogo {
    width: 8rem;
    height: 8rem;
    margin: 2rem auto 6rem auto;
  }
  .footerdiv {
    margin: 4rem auto;
  }
  .footericon {
    font-size: 2rem;
  }
  .footericon:hover {
    transform: translateX(0.5rem);
    opacity: 0.7;
    transition: all 0.5s linear;
  }

  .copyrights .footerlink > a {
    font-size: 1rem;
  }
  .footerReserved {
    font-size: 1rem;
  }
  .roomSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
    height: auto;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 8rem 1rem;
    padding: 1rem;
  }
  .touches {
    margin-bottom: 3rem;
  }
  .touches > h2 {
    margin-bottom: 2rem;
  }
  .touch > h4 {
    margin-bottom: 0;
  }
  .touch > p {
    font-size: 1.5rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .info > input {
    width: 30rem;
  }
  .info > textarea {
    width: 30rem;
    margin-bottom: 1rem;
  }
  .information {
    margin: 5rem 0;
  }
  .information > h2 {
    text-align: center;
  }

  .calendarContainer {
    max-width: (35rem, 90%);
    margin: 2rem 1rem;
  }

  .rdrCalendarWrapper {
    width: 100%;
  }
  .calendarDate {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .calendarDate > p:nth-child(2) {
    color: #22258a;
  }
  .calendarDate > a,
  p {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .calendarDate > svg {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .rdrMonth {
    width: 100%;
    margin: 1rem 1rem;
  }
  .infoContainer {
    margin: 1rem;
  }
  .roomBooking {
    max-width: (33rem, 80%);
    padding: 1rem;
    background-color: #e3e4ff;
    margin: 1rem 0;
  }
  .imgBooking {
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .roomInfo {
    margin: 3rem 0;
  }
  .roomInfo > h2 {
    margin: 1rem auto;
  }
  .guestInfo {
    max-width: (33rem, 80%);
    padding: 1rem;
    background-color: #e3e4ff;
    margin: 3rem 0;
  }
  .creditInfo {
    max-width: (33rem, 80%);
    padding: 1rem;
    background-color: #e3e4ff;
    margin: 3rem 0;
  }
  .policy {
    max-width: (33rem, 80%);
    padding: 1rem;
    background-color: #e3e4ff;
    margin: 3rem 0;
  }
  .guestDiv {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1.5rem 0;
  }
  .guestTitle {
    display: flex;
    flex-direction: column;
  }
  .guestTitle > label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .guestTitle > input,
  select {
    outline: none;
    border-color: transparent;
  }
  .guestTitle > input,
  select:hover {
    cursor: pointer;
  }
  .form-select {
    width: 100%;
  }
  .roomPolicy {
    margin: 3rem 0;
  }
  .roomPolicy > h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #22258a;

    margin: 0;
  }
  .policyCheck {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
  }
  .policyCheck > input {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 786px) {
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .links-container {
    height: auto;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .book {
    margin-top: -3rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.4rem; /* Adjust the font size for headers */
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }
  .section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 55rem;
  }
  .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
  }
  .map {
    min-height: 70%;
  }
  .p {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 60%;
    gap: 2rem;
    min-height: auto;
  }

  .footerlink {
    font-size: 1rem;
    line-height: 1.6;
  }
  .footerReserved {
    font-size: 1rem;
    line-height: 1.6;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 3rem;
  }
  .footerdiv {
    min-height: 10rem;
    max-width: 20rem;
    align-items: flex-start;
    margin: 2rem auto;
  }
  .footerlogo {
    width: 10rem;
    height: 10rem;
    align-items: center;
    text-align: center;
  }
  .footericon {
    font-size: 2.7rem;
  }
  .roomSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem;
    margin-top: 2rem;
    height: auto;
  }
  .roomIcon {
    width: 40%;
  }
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .touches {
    width: 50%;
  }
  .infoContainer {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: start; */
    gap: 2rem;
    margin: 1rem;
  }
  .roomBooking {
    width: 40%;
    margin: 0;
  }
  .allDetails {
    width: 60%;
  }
  .guestInfo {
    margin: 0;
  }
  .calendar > a {
    font-size: 2rem;
  }
  .guestTitle > label {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 2.2rem;
    line-height: 1.6;
  }
  a {
    font-size: 1.2rem;
  }

  .section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 65rem;
  }
  .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
  }
  .footerlink {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .footerReserved {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem 3rem;
  }
  .footerdiv {
    min-height: 10rem;
    max-width: 25rem;
    align-items: flex-start;
  }
  .footerlogo {
    width: 10rem;
    height: 10rem;
    align-items: center;
  }
  .footericon {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3.7rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }
  .footerlink {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .footerReserved {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  p {
    font-size: clamp(2.4rem, 1.5vw, 4rem);
    line-height: 1.6;
  }
  a {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .footericon {
    font-size: 2.8rem;
  }
}
